
/*Inicio del CSS propio*/

.btn-main {
    color: #fff;
    background-color: #366cc2;
    border-radius: 50px;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.25s linear;
    margin: 15px;
}

    .btn-main:hover {
        background-color: #852ed9;
        color: #fff;
        box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.35);
    }
.btn-alter {
    color: #fff;
    background-color: #2bb580;
    border-radius: 50px;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.25s linear;
    margin: 15px;
}

    .btn-alter:hover {
        background-color: #54ccc4;
        color: #fff;
        box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.35);
    }

.btn-cancel {
    color: #fff;
    background-color: #cc2b4e;
    border-radius: 50px;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.25s linear;
    margin: 15px;
}

    .btn-cancel:hover {
        background-color: #d44e6b;
        color: #fff;
        box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.35);
    }

.btn-xl {
    min-width: 200px;
    padding: 20px;
}

.btn-m {
    min-width: 150px;
    padding: 10px;
}

.btn-s {
    min-width: 100px;
    padding: 5px;
}

.md-textbox {
    width: 250px;
    text-align: center;
    border: 0;
    background-color: #f5f5f5;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    margin: 15px;
}

.login-container {
    background-color: #fff;
    background-color: rgba(255,255,255,0.8);
    border-radius: 25px;
    color: #000;
    font-family: Verdana;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

label {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
}

.login {
    text-align: center;
}

.dropdown-item {
    color: #fff;
}

    .dropdown-item:hover {
        color: #2e2e2e;
    }

@media (min-width: 576px) {
}

@media (min-width: 768px) {
    .login-container {
        max-width: 60%;
    }
}

@media (min-width: 992px) {
    .login-container {
        max-width: 55%;
    }
}

@media (min-width: 1200px) {
    .login-container {
        max-width: 40%;
    }
}

.validator-message {
    color: #FF5050;
    display: block;
    text-align: center;
}

.centered-element {
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
}
